@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/open-sans.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/open-sans.eot?#iefix') format('embedded-opentype'),
    url('/open-sans.woff2') format('woff2'),
    url('/open-sans.woff') format('woff'),
    url('/open-sans.ttf') format('truetype'),
    url('/open-sans.svg#OpenSans') format('svg');
}
* {
  font-family: Open Sans;
}
h1, h2, h3, h4, h5, h6 {
  color: #390070;
  margin-left: 16px;
  text-align: center;
}
a {
  color: #7000FF;
}
