[flake8]
format = ${red_bold}%(path)s: ${blue_bold}%(row)d:${green_bold}%(col)d ${purple_bold}%(code)s${reset} %(text)s
statistics = True
count = True
use-varnames-strict-mode = True
inline-quotes = double
exclude = assets
extend-ignore =
    C812 # Trailing commas don't work with black.
    E203 # No whitespace around colons doesn't work with black.
    I # Isort messes everything up, I've done the best I can to make it make sense anyway.
    S311 # So it's not secure to use the built-in random method? So what? It's just a game.
    WPS122 # It's an _ variable, I don't know why it thinks that it's unused.
    WPS226 # String constants over-use is unavoidable.
    WPS305 # What's wrong with f-strings?
    WPS336 # What's wrong with string concat?
    WPS355 # Found an unnecessary blank line before a bracket doesn't work with black.
    WPS420 # What's wrong with global?
    WPS421 # What's wrong with print?
    WPS430 # A nested function is unavoidable.
    WPS432 # What's wrong with magic numbers? Everything makes sense when you consider the comments.
    WPS440 # Block variable overlap is unavoidable.
    WPS441 # Block variable overlap is unavoidable.
    WPS442 # False positives because I call global earlier.
    WPS433 # So I shouldn't be putting my imports in a try catch? Then how then?
    WPS515 # Using open() without the with keyword is unavoidable.
    WPS609 # So I shouldn't be using __file__? Well how then?
min-name-length=3
max-returns=10
max-local-variables=13
max-imports=15
max-expressions=18
max-cognitive-average=18
max-line-complexity=16
max-module-members=21
max-line-length=88
max-cognitive-score=65
htmldir=flake-report
