.alt-button,
.home-button {
    position: sticky;
    bottom: 0;
}
@media all and (orientation: landscape) {
    .homebutton {
        width: unset;
    }
    .alt-button {
        width: unset;
    }
    body {
        width: 50%;
        margin: 0 auto;
    }
}
div.overlay {
    background: #7000ff;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    padding: 16px;
}
#closeOverlay:focus {
    border: black 2px solid;
}
.control-me {
    background-color: var(--primary-color-lighter);
    color: white;
    width: 3vmax;
    height: 3vmax;
    padding: 10px;
    line-height: 3vmax;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}
input[type="radio"] {
    position: absolute;
    left: -100vw;
}
label.toggler {
    position: absolute;
    opacity: 0;
    width: 3vmax;
    height: 3vmax;
    padding: 10px;
}
input[type="radio"]:nth-of-type(1):checked ~ .control-me:nth-of-type(1) {
    background-color: var(--primary-color);
}
input[type="radio"]:nth-of-type(2):checked ~ .control-me:nth-of-type(2) {
    background-color: var(--primary-color);
}
input[type="radio"]:nth-of-type(3):checked ~ .control-me:nth-of-type(3) {
    background-color: var(--primary-color);
}
input[type="radio"]:nth-of-type(4):checked ~ .control-me:nth-of-type(4) {
    background-color: var(--primary-color);
}
input[type="radio"]:nth-of-type(5):checked ~ .control-me:nth-of-type(5) {
    background-color: var(--primary-color);
}
input[type="radio"]:nth-of-type(6):checked ~ .control-me:nth-of-type(6) {
    background-color: var(--primary-color);
}
input[type="radio"]:nth-of-type(7):checked ~ .control-me:nth-of-type(7) {
    background-color: var(--primary-color);
}
input[type="radio"]:nth-of-type(8):checked ~ .control-me:nth-of-type(8) {
    background-color: var(--primary-color);
}
.cluePicker,
.letters,
.numbers {
    margin: 5px 0;
}
.cluePicker {
    margin: 15px;
}
.cluePicker * {
    user-select: none;
}
label[for="imReady"] {
    margin: 16px;
    display: inline-block;
    background: var(--primary-color-light);
    filter: hue-rotate(100deg);
    color: white;
    padding: 15px;
    border-radius: 10px;
}
label[for="imReady"]::after {
    content: "🆗";
    margin-left: 8px;
    filter: hue-rotate(50deg);
}
#imReady:checked + label {
    filter: hue-rotate(-100deg);
}
#imReady:checked + label::after {
    content: "☑";
    font-family: apple color emoji, segoe ui emoji, noto color emoji,
        android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
        segoe ui symbol;
    filter: grayscale(1);
}
#clueUI {
  opacity: 0.25;
  pointer-events: none;
}
@media (orientation: portrait) {
    .cluePicker,
    .letters,
    .numbers {
        text-align: center;
    }
    label.toggler {
        width: 15vw;
        height: 15vw;
    }
    .control-me {
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
    }
    label[for="imReady"] {
        width: 90%;
        text-align: center;
    }
}
